@import "../../_base.scss";

.login {
  display: grid;
  place-items: center;
  height: 100vh;

  &__container {
    background: $black-secondary;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 0 1rem;

    button {
      padding: 0.5rem;
      border: none;
      margin-bottom: 1rem;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  img {
    width: 130px;
    height: 130px;
    object-fit: contain;
  }
}
