@import "../../_base.scss";

.sidebar {
  background: $black-primary;
  width: 250px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in;
  position: sticky;
  top: 10vh;
  left: 0;
  overflow: hidden;
  padding-bottom: 20px;
  &__bottom--menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 12px;
    flex-wrap: wrap;
  }
  &__menu--header {
    color: #9c9c9c;
    display: flex;
    align-items: center;
    padding: 0.6rem 1rem;
    margin: 0 0;
    text-transform: uppercase;
    font-weight: 600;
  }
  a {
    color: $text-color;
    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }

  li {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.5rem;
    margin: 0 0;
    cursor: pointer;
    &.active {
      background: $border-color;
      color: $text-white;
    }
    span {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.4px;
      margin-left: 1rem;
      color: $text-white;
    }
    &:hover {
      background: $border-color;
    }
  }

  hr {
    background: $border-color;
  }
  &.open {
    // display: block;
    transform: translateX(0);
  }
}
.sidebar:hover {
  overflow-y: scroll;
  padding-right: 1px;
}

@media (max-width: $breakpoint-medium) {
  .sidebar {
    width: 90px;
    li {
      justify-content: start;
    }
    span,
    &__menu--header {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .sidebar {
    // display: none;
    transform: translateX(-100%);
    position: fixed;
    z-index: 999;
    &__bottom--menu {
      display: block;
    }
  }
}
