@import "../../_base.scss";

.watch--screen__player {
  width: 100%;
  height: 60vh;
  background: $black-secondary;
  margin-bottom: 2rem;
  .player {
    width: 100vh;
    height: 100vh;
  }
}
@media (max-width: $breakpoint-small) {
  .watch--screen__player {
    height: 35vh;
  }
}
