@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

$text-color: #b1bdb4;
$black-primary: #202020;
$black-secondary: #121417;
$border-color: #4c4c4c;
$breakpoint-medium: 1224px;
$breakpoint-small: 520px;
$text-white: #ffffff;
$bg-gray: #f1f1f1;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $black-primary;
  background-attachment: fixed;
  color: $text-color;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
}
@mixin for-long-titles($numberOfTextLines) {
  // when the title is long then it will collapse at two lines and put ... sign
  display: -webkit-box;
  -webkit-line-clamp: $numberOfTextLines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.skeleton {
  height: 180px !important;
  width: 100% !important;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: $border-color;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $text-color;
}
