@import "../../_base.scss";

.video--sideBar {
  cursor: pointer;

  &__left {
    position: relative;
    text-align: center;
    padding-left: 0 !important;
  }

  &__thumbnail {
    width: 100%;
    &-channel {
      width: 50%;
      border-radius: 50%;
    }

    &--wrapper {
      width: 100%;
    }
  }

  &__duration {
    position: absolute;
    bottom: 0.6rem;
    right: 1.2rem;
    font-size: 0.8rem;
    padding: 0.1rem;
    background: #080808ec;
    border-radius: 3px;
    color: $text-white;
  }

  &__details {
    font-size: 0.8rem;
    span {
      text-transform: uppercase;
    }
  }

  &__title {
    font-size: 0.95rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: $text-white;

    @include for-long-titles(2);
  }
  &__desc {
    @include for-long-titles(6);
    font-size: 0.9rem;
  }

  &__channel {
    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-right: 0.5rem;
      cursor: pointer;
    }
    p {
      font-size: 0.8rem;
      @include for-long-titles(1);
    }
  }
}

@media (max-width: $breakpoint-small) {
  .video--sideBar {
    font-size: 0.8rem;

    &__details {
      @include for-long-titles(1);
    }
    &__channel {
      margin: 0.1rem 0;

      img {
        display: none;
      }
      p {
        font-size: 0.8rem;
      }
    }

    &__desc {
      @include for-long-titles(3);
    }

    &__title {
      font-size: 0.9rem;
      @include for-long-titles(1);
    }
  }
}
